<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Reportes SEN
    </ion-title>
    <!--<ion-buttons slot="end">
        <ion-button routerLink="/cu-evaluacion/0">
          <ion-icon name="add-circle"></ion-icon>
        </ion-button>
      </ion-buttons>-->
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label>Año</ion-label>
    <ion-select interface="popover" placeholder="">
      <ion-select-option *ngFor="let cr of anios" value="{{cr.id}}">{{cr.anio}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Mes</ion-label>
    <ion-select interface="popover" placeholder="">
      <ion-select-option *ngFor="let cr of meses" value="{{cr.id}}">{{cr.mes}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Reporte</ion-label>
    <ion-select interface="popover" placeholder="" [(ngModel)]="idReporte">
      <ion-select-option *ngFor="let cr of reportes" value="{{cr.id}}">{{cr.reporte}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button shape="round" color="primary" expand="block" routerLink="/cu-evaluacion/{{idReporte}}">Generar reporte</ion-button>

</ion-content>