<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
          Catalogos
        </ion-title>
        <!--<ion-buttons slot="end">
          <ion-button routerLink="/create">
            <ion-icon name="add-circle"></ion-icon>
          </ion-button>
        </ion-buttons>-->
      </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-button shape="full" href="/rd-madre">
      <ion-icon name="apps"></ion-icon>
      Registro de Madres
    </ion-button>
    <ion-button shape="full" href="/rd-ninio">
      <ion-icon name="apps"></ion-icon>
      Registro de Niños
    </ion-button>
    <ion-button shape="full" href="/rd-evaluacion">
      <ion-icon name="apps"></ion-icon>
      Evaluacion Niños
    </ion-button>
    <ion-button shape="full" href="/rd-evaluacion-madre">
      <ion-icon name="apps"></ion-icon>
      Evaluacion Madres
    </ion-button>
  <!--<ion-button shape="full" href="/TiposSangre">
    <ion-icon name="apps"></ion-icon>
    Tipos de Sangre
  </ion-button>
  <ion-button shape="full" href="/GrupoSanguineo">
    <ion-icon name="apps"></ion-icon>
    Grupos Sanguineos
  </ion-button>
  <ion-button shape="full" href="/FactorRh">
    <ion-icon name="add"></ion-icon>
    Factores RH
  </ion-button>
  <ion-button shape="full" href="/Unidad">
    <ion-icon name="pint"></ion-icon>
    Unidades
  </ion-button>
  <ion-button shape="full" href="/Almacen">
    <ion-icon name="filing"></ion-icon>
    Almacenes
  </ion-button>
  <ion-button shape="full" href="/congelador">
    <ion-icon name="apps"></ion-icon>
    Congeladores
  </ion-button>
  <ion-button shape="full" href="/ContenidosCongelador">
    <ion-icon name="apps"></ion-icon>
    Contenidos Congelador
  </ion-button> -->
</ion-content>