<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>
        Niños
      </ion-title>
      <ion-buttons slot="end">
        <ion-button routerLink="/cu-ninio/0">
          <ion-icon name="add-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <ion-list>
      <ion-item *ngFor="let cr of ninios">
        <ion-icon name="apps" slot="start"></ion-icon>
        {{cr.ninio}}
        <div class="item-note" slot="end">
          <ion-button shape="round" color="danger" (click)="deleteNinio(cr.id)">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
          <ion-button shape="round" color="warning" routerLink="/cu-ninio/{{cr.id}}">
            <ion-icon name="create"></ion-icon>
          </ion-button>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>