<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Crear o Actualizar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label position="floating">Peso para la talla</ion-label>
    <ion-input type="text" [(ngModel)]="evaluacion.peso"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Peso para la edad</ion-label>
    <ion-input type="text" [(ngModel)]="evaluacion.evaluacion"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Talla para la edad</ion-label>
    <ion-input type="text" [(ngModel)]="evaluacion.talla"></ion-input>
  </ion-item>
  <!--<ion-item>
    <ion-label>Observaciones</ion-label>
    <ion-select interface="popover" placeholder="" [(ngModel)]="evaluacion.estado_persona">
      <ion-select-option *ngFor="let cr of EstadosPersona" [value]="cr" >{{cr.estado_persona}}</ion-select-option>
    </ion-select>
    <ion-buttons slot="end">
      <ion-button (click)="addEstado()">
        <ion-icon name="add-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>
  <ion-item>
    <ion-label>Charla</ion-label>
    <ion-select interface="popover" placeholder="Seleccionar" [(ngModel)]="evaluacion.estado_persona">
      <ion-select-option value="Si" >Si</ion-select-option>
                   <ion-select-option value="No">No</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-list>
    <ion-item *ngFor="let cr of evaluacion.detalles_evaluacion">
      <ion-icon name="apps" slot="start"></ion-icon>
      {{cr.detalle_evaluacion}}
      <div class="item-note" slot="end">
        <ion-button shape="round" color="danger" (click)="deleteMadre(cr.id)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </div>
    </ion-item>
  </ion-list>-->
  <ion-button shape="round" color="primary" expand="block" (click)="saveEvaluacion()">Guardar</ion-button>
</ion-content>