<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Donantes Nivel Reserva
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <b>Sangre</b>
      </ion-col>
      <ion-col>
        <b>Unidad</b>
      </ion-col>
      <ion-col>
        <b>Actual</b>
      </ion-col>
      <ion-col>
        <b>Mínimo</b>
      </ion-col>
      <ion-col>
        <b>Opción</b>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let cr of existenciaSangre">
      <ion-col>
        {{cr.grupo_sanguineo}}{{cr.factor_rh}}
      </ion-col>
      <ion-col>
        {{cr.unidad}}
      </ion-col>
      <ion-col>
        {{cr.existencia}}
      </ion-col>
      <ion-col>
        {{cr.cantidad_minima}}
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-button color="warning" (click)="getDonantes(cr.id)">
            <ion-icon name="create"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>