<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
          Catalogos
        </ion-title>
      </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-button shape="full" href="/rd-evaluacion">
      <ion-icon name="apps"></ion-icon>
      Reporte de estado nutricional niños
    </ion-button>
    <ion-button shape="full" href="/rd-ninio">
      <ion-icon name="apps"></ion-icon>
      Reporte de estado nutricional madres
    </ion-button>
</ion-content>