<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Reporte 
    </ion-title>
    <!--<ion-buttons slot="end">
        <ion-button routerLink="/cu-evaluacion/{{idNinio}}">
          <ion-icon name="add-circle"></ion-icon>
        </ion-button>
      </ion-buttons>-->
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p>Total: <b>{{ninios.length}}</b></p>
  <ion-list>
      <ion-item *ngFor="let cr of ninios">
        <ion-icon name="apps" slot="start"></ion-icon>
        {{cr.ninio}}
      </ion-item>
    </ion-list>
</ion-content>